.wrapper-modal-change-password {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
  .innder-wrapper {
    position: relative;
    height: 100%;
  }
  .inner-change-password {
    position: relative;
    height: 100%;
  }
  .modal-change-password {
    top: 50%;
    left: 50%;
    margin: 0;
    width: 510px;
    color: #fff;
    position: fixed;
    margin-right: -50%;
    padding: 40px 90px 60px;
    background-color: #000000;
    transform: translate(-50%, -50%);
    box-shadow: 0 21px 29px -1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 767px) {
      height: 100vh;
      width: 100vw;
      padding: 30px 20px;
      overflow: scroll;
    }
    @media screen and (max-height: 500px) {
      height: 100%;
      min-height: auto;
      overflow-y: scroll;
    }
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 45px;
    @media screen and (max-width: 767px) {
      text-align: center;
      position: relative;
      font-size: 14px;
      bottom: 17px;
      &::after {
        content: '';
        background-color: rgba(255, 255, 255, 0.2);
        width: 100vw;
        height: 1px;
        bottom: -15px;
        position: absolute;
        left: -20px;
      }
    }
  }

  .wrapper-input-password {
    width: 100%;
    margin-bottom: 45px;
    position: relative;
  }

  .password-input {
    width: 100%;
    border: none;
    line-height: 47px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    box-shadow: 0 21px 29px -1px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    border-bottom: 1px solid rgba(256, 256, 256, 0.5);
    padding-right: 35px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ffffff;
      opacity: 0.5;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #ffffff;
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #ffffff;
      opacity: 0.5;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #ffffff;
      opacity: 0.5;
    }
  }

  .button-submit {
    border: none;
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-radius: 4px;
    background-color: #ffa600;
    margin-right: 10px;
    padding: 0 50px;
    cursor: pointer;
  }

  .button-cansel {
    border: none;
    background-color: transparent;
    color: #ffa600;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 48px;
  }

  .close {
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
    @media only screen and (max-width: 767px) {
      top: 4px;
    }
  }

  .eye {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .wrapper-error {
    margin-top: 15px;
  }
  .error {
    color: #b90600;
  }
}
