@import '../../styles/varible';

.available {
  &__wrapper {
    margin: 1rem 0;
  }

  &__top {
    width: 32rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    p {
      font-size: 10px;
      font-weight: 500;
      line-height: 2;
      color: #8f8f8f;
      margin-bottom: 0.8125rem;
      text-align: right;

      &:not(:nth-last-of-type) {
      }
    }

    h3 {
      font-size: 24px;
      line-height: 0.83;
      color: #000000;
      text-align: right;
    }
  }

  &__option {
    display: flex;
    margin: 2rem 0 0;
    min-width: rem(186);
    max-width: rem(406);
    padding-bottom: 0.5rem;

    & > button {
      &:nth-child(n + 1) {
        margin-right: rem(40);
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__btn {
    color: #495290;
    background: transparent;
    cursor: pointer;
    border: none;
    border-radius: 0.1875rem;
    align-self: center;
    font-size: 0.675rem;
    width: 3.5rem;
    height: 1.5rem;

    &:hover {
      color: #ffffff;
      background-color: #495290;
    }
  }

  &__buy {
    border-radius: 0.1875rem;
    border: solid 0.0625rem #495290;
    padding: 0 0.75rem;
    width: 3.5rem;
    height: 1.5rem;
    background: transparent;
    margin: 0 1rem;
    cursor: pointer;
    color: #495290;

    &:hover {
      background: #495290;
      color: #ffffff;
    }
  }
}

.text-right {
  text-align: right;
}

.wrapper-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;

  .close {
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
  }
}

.inner-wrapper {
  position: relative;
  height: 100%;
}

.wrapper-modal-upload-avatar {
  .modal-buy-coin {
    padding: 40px 90px !important;
  }
}

.inner-buy-coin {
  width: 510px;
  height: 430px;
  top: 50%;
  left: 50%;
  margin: 0;
  color: #fff;
  position: fixed;
  margin-right: -50%;
  padding: 40px 90px;
  background-color: #000000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 21px 29px -1px rgba(0, 0, 0, 0.2);
}

.modal__coin {
  font-size: 14px;

  &-title {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;

    span {
      font-weight: 500;
      font-size: 14px;
      color: #fff;
    }
  }

  &-date {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
  }

  &-info {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
  }

  &-form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    color: #fff;
    padding-right: 150px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  &-label,
  &-total-title {
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    margin-bottom: 12px;
  }

  &-price {
    position: absolute;
    top: 48%;
    right: 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  &-total {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.03px;
    line-height: 20px;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &-buttons {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &--buy {
    height: 48px;
    width: 165px;
    border-radius: 4px;
    background-color: #ffa600;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    border: none;
    cursor: pointer;
  }

  &--cancel {
    height: 48px;
    width: 165px;
    background-color: transparent;
    border: none;
    color: #ffa600;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
