@import 'varible';

.boardBody {
  &__wrapper > div {
    display: grid;
    font-size: 0.875rem;
    //grid-template-columns: minmax(8rem, 12rem) repeat(auto-fit, minmax(7.5rem, 1fr));
    grid-template-columns: 12rem repeat(auto-fit, minmax(7.5rem, 1fr));
    grid-auto-flow: column;
    overflow-y: auto;
    border: none !important;
  }

  &__wrapper {
    &--scrollable {
      max-height: 37.5rem;
      overflow-y: scroll;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;

    &:first-child {
      & > a > p {
        min-width: 100%;
        text-align: left;
      }

      & > div > p {
        min-width: 100%;
        text-align: left;
      }
    }

    & > li {
      position: relative;
    }
  }

  &__divider {
    padding: 0 0.1875rem;
  }

  &__title {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2.2rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03125rem;

    &:first-child,
    &:nth-child(2) {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
      padding-right: 0;
    }
  }

  &__item {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    cursor: pointer;

    span {
      text-align: left;
      max-width: 100%;
    }

    &-logo {
      margin-right: 0.625rem;
      width: 2.25rem;
      height: 2.25rem;
    }

    &--token {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-right: auto;
      padding-left: 1rem;

      &:hover .buttonSmall {
        display: flex;
      }

      & > div > .boardBody__img--token {
        margin-right: 0.78215rem;
        cursor: unset;
        min-width: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        max-height: 2rem;
      }

      & > a > .boardBody__img--token {
        margin-right: 0.78215rem;
        min-width: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        max-height: 2rem;
      }
    }
  }

  &__text {
    font-weight: 400;
    text-transform: uppercase;

    &--bold {
      text-transform: lowercase;
      text-transform: capitalize;
      font-weight: 700;
      //margin-right: .125rem;
    }
  }

  &__img {
    align-self: center;
    justify-self: center;
    margin: auto;
    max-width: rem(120);
    max-height: rem(32);
  }

  &__watch {
    cursor: pointer;
    padding-right: 1rem;
    opacity: 0.8;

    &:hover {
      filter: contrast(200%);
      opacity: 1;
    }
  }
}

.boardBody__item,
.bottom-line {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;

  &--height {
    height: rem(42);
    cursor: unset;
  }

  &:after {
    width: 100%;
    opacity: 0.1;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 0.0625rem;
    background-color: #000000;
  }
}

.askRemoveBox {
  position: absolute;
  left: 0;
  top: 100%;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cursor {
  cursor: pointer;
}

.bgct {
  //background-color: rgba(86, 104, 171, 0.1);
  background-color: #e9ebf3;
}

.boardBody__item--hover {
  //background-color: rgba(86, 104, 171, 0.1);
  //background-color: rgba(214, 214, 214, 0.3);
  background-color: #f4f5f9;
}
