@import '../../styles/varible';

.selectedCoin {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border: rem(1) solid #e5e5e5;
    border-radius: rem(4);
    padding: rem(6) rem(12) rem(6) rem(10);
    cursor: pointer;

    &:hover {
      filter: brightness(0);
      box-shadow: .0625rem .0625rem .25rem #0000006b;
    }

    &--blue {
      border-color: #0d27d1;

      &:hover {
        filter: unset;
      }
    }

    &--black {
      border-color: #000000;

      &:hover {
        filter: unset;
      }
    }
  }

  &__name {
    color: #7f7f7f;
  }

  &__delete {
    cursor: pointer;
  }
}