.wrapper-tab {
  background-color: #000;
  display: flex;

  .link {
    font-size: 18px;
    font-weight: bold;
    color: #8f8f8f;
    margin-right: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .active {
    border-bottom: 3px solid #ffa600;
    color: #fff;
  }
}
